<div class="p-4">
  <h1 class="text-xl font-semibold mb-4">Material Orders</h1>

  <a routerLink="/material-orders/form" class="btn btn-primary mb-4"
    >+ New Order</a
  >

  @if (loading()) { Loading... } @if (!loading && orders.length) {

  <table class="table-auto w-full border">
    <thead>
      <tr class="bg-gray-100">
        <th class="px-2 py-1">Material</th>
        <th class="px-2 py-1">Quantity</th>
        <th class="px-2 py-1">Total Cost</th>
        <th class="px-2 py-1">Unit Cost</th>
        <th class="px-2 py-1">Supplier</th>
        <th class="px-2 py-1">Date</th>
        <th class="px-2 py-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders(); track order._id) {

      <tr>
        <td class="border px-2 py-1">
          {{ order.material.name }}
        </td>
        <td class="border px-2 py-1">{{ order.quantity }}</td>
        <td class="border px-2 py-1">£{{ order.totalCost }}</td>
        <td class="border px-2 py-1">£{{ order.unitCost }}</td>
        <td class="border px-2 py-1">{{ order.supplier }}</td>
        <td class="border px-2 py-1">{{ order.createdAt | date : "short" }}</td>
        <td class="border px-2 py-1">
          <button
            (click)="deleteOrder(order._id!)"
            class="text-red-500 hover:underline"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @if (!loading() && !orders().length) {

  <p>No orders found.</p>
  }
</div>
